.main-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.box {
  width: 400px;
  min-height: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.btn-wrap {
  display: flex;
  font-size: 1.6em;
  flex-direction: row;
}
.box .btn-wrap button{
  width: 100%;
  padding: 10px;
}
